body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding-left: 5px;
    margin: 0;
}

header ul {
    padding-left: 0px;
}


.languages li {
    display: inline;
}

.languages a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 24px;
    background-image: url("../images/icons-small.png");
    text-indent: -9999px;
}


.polish a {
    background-position: -35px 0px;
}

.social a {
    background-position: -70px 0px;
    float: right;
    width: 32px;
    height: 32px;
}

.social a:hover {
    background-position: -70px 0px;
    float: right;
    width: 32px;
    height: 32px;
    box-shadow: 3px 3px 5px grey;
}


.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.top-content-area {
    border-bottom: 3px solid black;
    height: 33px;
    font-size: 85%;
    padding-bottom: 5px;

}

.name {
   text-align: center;
   margin-bottom: 0px;
   margin-top: 0px;
   }

.email-address {
    padding-left: 5px;
    width: 40%;
    float: left; 
}


.email-icon-holder {
    height: 22px;
    width: 30px;
    float: left;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 16px;
    background-image: url("../images/icons-small.png");
    background-position: -102px 0px;
 
}

.location {
    float: left;
   
}
.version {
    padding-right: 5px;
    float: right;
 
}


footer p {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
}

footer hr {
    margin-bottom: 0;
}

/* Section settings */


section span.employer {
    font-weight: bold;
    float: left;
}

section span.location {
    margin-left: auto;
    float: right;
}

section span.position {
    width: 90%;
    float: left;
    font-style: italic;
    margin-bottom: 5px;
}

section span.period {
    float: right;
    font-style: italic;
}

section span.remaining-period {
    float: right;
    text-align: right;
    font-style: italic;
    width: 100%;
}

section div {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

section div h4 {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

section div ul {
    margin: 0px;
}

section h3 {

    border-bottom: thin solid black;
    margin-bottom: 0;
    margin-top: 15px;
}

section p {
    margin-top: 0px;
    margin-bottom: 0px;
}

section a,
.email-address a {
    text-decoration: none;
    color: black;
}

section a:hover,
.email-address a:hover {
    text-decoration: underline;
    text-shadow: 3px 3px 10px grey;
}



.fix {
    clear: both;
}